matplotlib
rubberband
yapf
icecream
lux
numpy
pandas
scikit-learn
scipy
python-dateutil
pip
datetime
jupyter
jupyterthemes
ipykernel
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
utils
seaborn
plotly
statsmodels
patsy
